%head
  %title code-analysis | pepro
  %script{ type: "text/javascript", src: "https://code.jquery.com/jquery-3.3.1.min.js" }

%h1 code-analysis
%textarea#code{ raw: "3", col: "4"}
%button#function analysis

#result_zone

:javascript
  var code = $('#code');
  $('#function').on('click', function() {
    $.ajax({
      type: 'POST',
      url: '/program',
      data: { code: code.val() },
      dataType: "json",
      success: function (data) {
        var result_zone = $('#result_zone');
        result_zone.empty();
        error = $('<p>', { class:'error'}).text(data['error']);
        result = $('<p>', { class:'result'}).text(data['result']);
        result_zone.append(error);
        result_zone.append(result);
      }
    });
  });
